:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grey-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}
